<!doctype html>

<html lang="id">

<head>

  <%- include('../partials/head') %>

  <!-- GLOBAL BACKGROUND -->
  <style>

    :root{

      --home-bg: url('<%= settings.backgroundDesktop || 'https://cdn.om8k8.com/OMTAPRILBGOK.webp' %>');
      --primary: <%= settings.primaryColor || '#d90018' %>;

    }

  @media(max-width:680px){:root{--home-bg:url('<%= settings.backgroundMobile || settings.backgroundDesktop || 'https://cdn.om8k8.com/OMTAPRILBGOK.webp' %>');}}
  </style>

</head>

<body class="<%= typeof bodyClass !== 'undefined' ? bodyClass : '' %>">

  <%- body %>

  <%- include('../partials/scripts') %>

</body>

</html>
